<div class="test">

</div>

<div *ngIf="!jugando">
<form [formGroup]="nuevaPersona" align="center">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Enter your name" name="usename" formControlName="nombre">
    <mat-error>
      <span *ngIf="nuevaPersona.controls['nombre'].hasError('required')">
        El Nombre es obligatorio
      </span>
    </mat-error>
  </mat-form-field>
 
  
  <button mat-raised-button color="primary" [disabled]="!nuevaPersona.valid" (click)="addPersona()">
    Agregar persona
  </button>

</form>


<form [formGroup]="nuevaPregunta" align="center">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pregunta</mat-label>
    <input matInput placeholder="Pregunta?" name="pregunta" formControlName="pregunta">
    <mat-error>
      <span *ngIf="nuevaPregunta.controls['pregunta'].hasError('required')">
        La pregunta es obligatorio
      </span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    
    <mat-label>
      tipo
    </mat-label>
      <mat-select placeholder="Tipo de pregunta" formControlName="tipo">
        <mat-option *ngFor="let tipo of tiposDePregunta" [value]="tipo.id">
          {{tipo.descripcion}}
        </mat-option>
      </mat-select>

  </mat-form-field>
  
  <button mat-raised-button color="primary" [disabled]="!nuevaPregunta.valid" (click)="addPregunta()">
    Agregar pregunta
  </button>

</form>

<h1 style="text-align: center;">
  PARTICIPANTES
</h1>

<table align="center">

  <tr >

    <td *ngFor="let persona of nosotros" align="center">{{persona.nombre}}
      <tr > 
    <td><button mat-raised-button color="secundary" (click)="participantes.splice(persona,1);">❌</button></td>
      </tr>
    
    </td>
  </tr>
  <tr>
    <td *ngFor="let persona of participantes" align="center">{{persona.nombre}}
      <tr > 
    <td><button mat-raised-button color="secundary" (click)="participantes.splice(persona,1);">❌</button></td>
      </tr>
    </td>
  </tr>
</table>
</div>
<div class="wrap" *ngIf="!jugando">
  <button (click)="random()" class="button_start">Jugar</button>
</div>
<div *ngIf="jugando">
  

<div *ngIf="pregunta!=''">


  


<div class="demo1" >
  <div class="demo1__colored-blocks" name="girar" id="girar" >
    
    <div class="demo1__colored-blocks-rotater">
      <div class="demo1__colored-block"></div>
      <div class="demo1__colored-block"></div>
      <div class="demo1__colored-block"></div>
    </div>
    <div class="demo1__colored-blocks-inner"></div>
    <div class="demo1__text">{{p}}</div>
    
  </div>
  <div class="demo1__inner">
    <svg class="demo1__numbers" viewBox="0 0 100 100">
      <defs>
        <path class="demo1__num-path-1" d="M40,28 55,22 55,78"/>
        <path class="demo1__num-join-1-2" d="M55,78 55,83 a17,17 0 1,0 34,0 a20,10 0 0,0 -20,-10"/>
        <path class="demo1__num-path-2" d="M69,73 l-35,0 l30,-30 a16,16 0 0,0 -22.6,-22.6 l-7,7"/>
        <path class="demo1__num-join-2-3" d="M28,69 Q25,44 34.4,27.4"/>
        <path class="demo1__num-path-3" d="M30,20 60,20 40,50 a18,15 0 1,1 -12,19"/>
      </defs>
      <path class="demo1__numbers-path" 
            d="M-10,20 60,20 40,50 a18,15 0 1,1 -12,19 
               Q25,44 34.4,27.4
               l7,-7 a16,16 0 0,1 22.6,22.6 l-30,30 l35,0 L69,73 
               a20,10 0 0,1 20,10 a17,17 0 0,1 -34,0 L55,83 
               l0,-61 L40,28" />
    </svg>
  </div>
  
</div>





</div>
<button (click)="jugando=false; pregunta=''" class="back">
  Parar
</button>
<button (click)="fire()" class="fire">
  🔥
</button>

<button (click)="next()" class="next">
  Siguiente
  
</button>


    
​

</div>


