
<form [formGroup]="nuevaPersona" >
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Enter your name" name="usename" formControlName="nombre">
    <mat-error>
      <span *ngIf="nuevaPersona.controls['nombre'].hasError('required')">
        El Nombre es obligatorio
      </span>
    </mat-error>
  </mat-form-field>
  
  <button mat-raised-button color="primary" [disabled]="!nuevaPersona.valid" (click)="addPersona()">
    Agregar persona
  </button>

</form>


<form [formGroup]="nuevaPregunta" >
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pregunta</mat-label>
    <input matInput placeholder="Pregunta?" name="pregunta" formControlName="pregunta">
    <mat-error>
      <span *ngIf="nuevaPregunta.controls['pregunta'].hasError('required')">
        El Nombre es obligatorio
      </span>
    </mat-error>
  </mat-form-field>
  
  <button mat-raised-button color="primary" [disabled]="!nuevaPregunta.valid" (click)="addPregunta()">
    Agregar pregunta
  </button>

</form>
<Label>
  Participantes
</Label>
<table>
  <tr>
    <th>Nombre</th>
    <th>Eliminar</th>
  </tr>
  <tr *ngFor="let persona of participantes">
    <td>{{persona.nombre}}</td>
    <td><button mat-raised-button color="warn" (click)="participantes.splice(persona,1);">Eliminar</button></td>
  </tr>
</table>
<button mat-raised-button color="primary" [disabled]="preguntas.lenght<1 && participantes.lenght<2" (click)="random()">
  Proxima pregunta
</button>

<h1 *ngIf="pregunta!=''">{{pregunta}}</h1>