<form [formGroup]="nuevaPersona" align="center">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre del borracho" name="usename" formControlName="nombre">
      <mat-error>
        <span *ngIf="nuevaPersona.controls['nombre'].hasError('required')">
          El Nombre es obligatorio
        </span>
      </mat-error>
    </mat-form-field>
   
    
    
  </form>
  <button mat-raised-button color="primary" [disabled]="!nuevaPersona.valid" (click)="addPersona()">
    Agregar persona
  </button>
  <button mat-raised-button color="warn"(click)="cancelar()">
      Cancelar
  </button>